/*초기화*/
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}
input {
  outline: none;
}

#wrapper {
  width: 980px;
  height: 1199px;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 980px;
  height: 900px;
  box-sizing: border-box;
  overflow: hidden;
}

main > .background {
  width: 980px;
  height: 184px;
}
main > .background div:nth-child(2) {
  position: absolute;
  top: 140px;
}
main > .background div:nth-child(1) {
  position: relative;
}
main > aside {
  position: absolute;
  left: 0px;
  width: 176px;
  height: 650px;
  box-sizing: border-box;
}
main > aside a:nth-child(1) {
  position: absolute;
  right: -3px;
  top: 10px;
}
main > aside a:nth-child(2) {
  position: absolute;
  left: 10px;
  top: 15px;
}
main > aside a:nth-child(3) {
  position: absolute;
  right: 3px;
  top: 80px;
}
main > aside a:nth-child(4) {
  position: relative;
  top: 105px;
  right: 1px;
}
main > section {
  float: right;
  width: 802px;
  height: auto;
  box-sizing: border-box;
}

main > section > div a {
  margin-left: 10px;
}
main > section > article {
  margin-top: 34px;
}
main > section table.basketList {
  width: 762px;
  height: 294px;
  margin-left: 40px;
  margin-top: 10px;
  border-spacing: 0;
}
main > section table.basketList thead {
  width: 762px;
  height: 38px;
  background-color: #d1dee2;
}
main > section table.basketList img {
  width: 60px;
  height: 60px;
}
main > section table.basketList td {
  text-align: center;
  color: #777777;
  border-bottom: 1px solid #eeeeee;
}
main > section table.basketList td.none {
  padding: 5px;
  text-align: center;
}
main > section table.basketList td:nth-child(4) {
  font-weight: bold;
}
main > section table.basketList td:nth-child(9) {
  color: #111;
  font-weight: bold;
}
h2 {
  margin-left: 40px;
  margin-top: 20px;
}

main > section table.total {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  margin-inline-start: 7px;
  margin-inline-end: 7px;
  margin-block-start: 5px;
}
main > section table.total th {
  text-align: right;
}
main > section table.total td.totalPrice {
  color: #960d1a;
  font-weight: bold;
}

main > section > div:nth-child(1) {
  padding-top: 30px;
  padding-left: 30px;
  border-bottom: 1px solid #c2c2c2;
}
main > section > div > span {
  float: right;
  font-weight: bold;
  color: #91ba15;
}
main > section > div > a:nth-child(3) {
  float: right;
  margin-inline-end: 10px;
}
main > section > div > a:nth-child(3)::before {
  content: url(/images/sub_page_nav_ico.gif);
}
main > section > div article:nth-child(1) {
  float: right;
  width: 304.8px;
  height: 262px;
  border: 1px solid #d7d7d7;
  padding: 1px;
  margin-top: -30px;
}

.btn {
  display: inline-block;
  padding: 8px;
  border: 1px solid #960d1a;
  background-color: #960d1a;
  text-align: center;
  margin-top: 5px;
  margin-left: 40px;
  cursor: pointer;
  color: #eee;
}

.btn:nth-child(2) {
  width: 277.8px;
  height: 20px;
  top: 218px;
  left: 7px;
  margin: 5px;
  margin-top: 10px;
}

footer {
  width: 980px;
  height: 130px;
  box-sizing: border-box;
}
footer p {
  top: 15px;
  position: relative;
  float: right;
  line-height: 18px;
  font-size: 10.8px;
}
