/* footer */
footer {
  width: 100%;
  height: auto;
}

footer > div {
  margin: 0 auto;
  width: 980px;
  height: auto;
  border-top: 1px solid #d1cab2;
  box-sizing: border-box;
}

footer > div > img {
  width: 174px;
  height: 64px;
}

footer > div > p {
  height: 71px;
  color: #7a7a7a;
}

footer > div > p > span {
  color: #a6a6a6;
}

footer > div > p > span:nth-of-type(2) {
  color: #a6a6a6;
  float: right;
}
