@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+KR:wght@100..900&display=swap");
/* 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  font: normal 12px "noto sans koeran";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111;
}

input,
textarea {
  outline: none;
}

#container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* 헤더 */
header {
  width: 980px;
  height: 60px;
  background-image: url('/static/images/admin/admin_bg.jpg');
  box-sizing: border-box;
  padding: 12px;
}
header > p {
  float: right;
}
header > p > a {
  color: #fff;
}

/* 메인 */
main {
  width: 980px;
  height: 658px;
  overflow: hidden;
}


main>aside{
  float: left;
  width: 176px;
  height: 400px;
  box-sizing: border-box;
  padding: 10px;
}

main > aside > h3 {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: rgb(229, 229, 229);
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
}

main > aside > ul {
  padding: 16px;
  box-sizing: border-box;
}
main > aside > ul > li {
  line-height: 22px;
  margin-top: 10px;
}

main > aside > ul > li.on > span {
  font-weight: bold;
}

main > aside > ul > li > ol {
  color: #111;
  text-indent: 10px;
}
main > aside > ul > li > ol > li {
  line-height: 22px;
}
main > aside > ul > li > ol > li::before {
  content: "ㄴ";
  margin-right: 4px;
}

main > aside ol > li > a:hover {
  text-decoration: underline;
}

main>section{
    width: 804px;
    height: 658px;
    margin-top: 5px;
    overflow: hidden;
    float: right;
}

main > section > nav > h3 {
    font-size: 17px;
    font-weight: bold;
    color: #3f3f3f;
}

main > section > article > h3 {
    margin: 6px 0;
}

main > section > article > h3 > .more {
    float: right;
}

main > section > article table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #333;
}

main  > section > article table tr {
    border-bottom: 1px dotted #999;
}

main  > section > article table tr > th {
    padding: 12px;
    background-color: #fbfbfb;
}

main  > section > article table tr > td {
    padding: 12px;
    text-align: center;
}

main>section>article{
    width: 784px;
    height: 193px;
    box-sizing: border-box;
    margin-top: 12px;
}

/* 푸터 */
footer {
    width: 980px;
    height: 41px;
    padding: 12px;
    background-image: url('/static/images/admin/admin_bg.jpg');
    box-sizing: border-box;
}

footer > p {
    color: #999;
}
footer >p>span{
    float: right;
}
